
.pkg-nav {
	height: 146px;
	background: #f6f6f6
}

.nav-steps {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center
}

.nav-steps.w20 .nav-step {
	width: 20%
}

.nav-step {
	position: relative;
	float: left;
	width: 25%;
	padding-top: 20px;
	text-align: center
}

.nav-step:first-child .left,
.nav-step:last-child .right,
.nav-step:last-child .step-tag {
	display: none!important
}

.nav-step .step-dash-line {
	position: absolute;
	top: 56px;
	left: 0;
	width: 50%;
	height: 6px;
	margin-top: -3px
}

.nav-step .step-dash-line.right {
	left: auto;
	right: 0
}

.nav-step .step-dash-line line {
	stroke-width: 3px;
	stroke: #d8d8d8;
	stroke-dasharray: 1, 8;
	stroke-linecap: round
}

.nav-step .step-tag {
	display: none;
	position: absolute;
	top: 52px;
	right: -4px;
	background: #f7971d;
	border-radius: 50%;
	z-index: 10
}

.nav-step .step-circle {
	width: 9px;
	height: 9px
}

.nav-step .step-circle:before {
	content: "";
	position: absolute;
	top: -6px;
	left: -6px;
	width: 21px;
	height: 21px;
	border: 1px solid #f7971d;
	border-radius: 50%;
	background: rgba(247, 151, 29, .5);
	animation: circle 1.3s ease-out infinite
}

.nav-step .step-exception {
	top: 46px;
	right: -9px;
	width: 18px;
	height: 18px;
	background: none
}

.nav-step .step-exception .icon-gantanhao-yuankuang {
	font-size: 20px;
	color: #eb5330
}

.nav-step.nav-step-active .step-dash-line line {
	stroke: #fed697
}

.nav-step.nav-step-active .step-icon {
	background: #ffcb7a
}

.nav-step.nav-step-active .step-icon .iconfont {
	color: #fff
}

.nav-step.nav-step-active .step-content p {
	color: #f7971d
}

.nav-step.nav-step-current.nav-step-exception .step-exception,
.nav-step.nav-step-current .step-circle {
	display: inline-block
}

.nav-step.nav-step-current.nav-step-exception .step-circle {
	display: none
}

.nav-step.nav-step-current:last-child .step-icon {
	border-radius: 50%;
	background: #9ccb64;
	margin-bottom: 11px
}

.nav-step.nav-step-current:last-child p {
	color: #9ccb64
}

.nav-step.nav-step-current .step-icon {
	border-radius: 50% 50% 50% 8px;
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-bottom: 21px
}

.nav-step.nav-step-current .step-icon .iconfont {
	top: 15px;
	-ms-transform: rotate(45deg);
	transform: rotate(45deg)
}

.nav-step.nav-step-current .step-icon .icon-yunshuzhongwuliu-xianxing {
	top: 18px
}

.nav-step.nav-step-current .step-content p {
	font-weight: 700
}

.step-content {
	position: relative;
	display: inline-block;
	z-index: 10
}

.step-content .step-icon {
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #eee;
	margin: 0 auto 11px
}

.step-content .step-icon .iconfont {
	position: absolute;
	top: 13px;
	left: 17px;
	font-size: 49px;
	color: #c6c6c6
}

.step-content .step-icon .icon-yunshuzhongwuliu-xianxing {
	top: 14px;
	left: 18px
}

.step-content .step-icon .icon-kuaidiyuan-xianxing {
	left: 16px
}

.step-content p {
	line-height: 1.2;
	font-size: 14px;
	font-weight: lighter;
	color: #9b9b9b;
	text-align: center
}

.step-content p .light-desc {
	display: inline-block;
	text-align: left
}

.step-content .current-img-icon {
	display: none;
	-ms-transform: translateY(-14px);
	transform: translateY(-14px)
}

.global-action .nav-step-current:not(.nav-step-exception) .step-icon {
	display: none
}

.global-action .nav-step-current:not(.nav-step-exception) .current-img-icon {
	display: block
}

