{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}ADD Demo page{% endblock %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='/css/ali-nav.css')}}">
    <!--<link rel="stylesheet" href="{{url_for('static', filename='/css/json-beauty1.css')}}">-->
    <!--<link rel="stylesheet" href="{{url_for('static', filename='/css/json-beauty2.css')}}">-->
{% endblock %}
{% block navbar %}
    <div class="navbar navbar-fixed-top">
        <!-- ... -->
    </div>
{% endblock %}

{% block content %}
    <div class="container">
    <h1>Threat Intelligence - Grouping</h1>

    <div class="pkg-nav global-action">
        <div class="nav-steps">
            <div class="nav-step nav-step-active">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="step-dash-line left">
                    <line x1="4" y1="3" x2="100%" y2="3"></line>
                </svg>
                <div class="step-content">
                    <div class="step-icon"><i class="iconfont icon-baoguofahuo-xianxing"></i></div>
                    <a href="/" target="_blank" class="current-img-icon"><img src="//img.alicdn.com/tps/TB1OU3iOFXXXXc8XFXXXXXXXXXX-90-90.gif" alt="current"></a>
                    <p><span class="light-desc">Search</span></p>
                </div>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="step-dash-line right">
                    <line x1="6" y1="3" x2="100%" y2="3"></line>
                </svg>

            </div>
            <div class="nav-step nav-step-active nav-step-current">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="step-dash-line left">
                    <line x1="4" y1="3" x2="100%" y2="3"></line>
                </svg>
                <div class="step-content">
                    <div class="step-icon"><i class="iconfont icon-touchengkongyun"></i></div>
                    <a href="//global.cainiao.com" target="_blank" class="current-img-icon"><img src="//img.alicdn.com/tps/TB1OU3iOFXXXXc8XFXXXXXXXXXX-90-90.gif" alt="current"></a>
                    <p><span class="light-desc">Grouping</span></p>
                </div>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="step-dash-line right">
                    <line x1="6" y1="3" x2="100%" y2="3"></line>
                </svg>

            </div>
            <div class="nav-step nav-step-active">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="step-dash-line left">
                    <line x1="4" y1="3" x2="100%" y2="3"></line>
                </svg>
                <div class="step-content">
                    <div class="step-icon"><i class="iconfont icon-weicheng"></i></div>
                    <a href="//global.cainiao.com" target="_blank" class="current-img-icon"><img src="//img.alicdn.com/tps/TB1OU3iOFXXXXc8XFXXXXXXXXXX-90-90.gif" alt="current"></a>
                    <p><span class="light-desc">Visualization</span></p>
                </div>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="step-dash-line right">
                    <line x1="6" y1="3" x2="100%" y2="3"></line>
                </svg>
            </div>
        </div>
        <br>

        <div id="loading" class="text-center" style="display: none">
            <img src="/static/loading.gif" alt="" class="rounded" style="width: 30%"/>

            <label for="loading" style="display: block; text-align: center;">Now Loading...</label>
        </div>
        <br><br>

        <div>
            <button type="button" class="btn btn-success" style="float: right;" >Next</button>
            <button type="button" class="btn btn-primary" style="float: left;" >Main</button>

        </div>
        <br><br>


        <h2>{{target}}</h2>




        {% for item in tree.children recursive %}


            <a href="/visualize/{{ item.name }}" onclick="this.parentNode.submit()">
                <li>{{ item.name }}
                    {% if item.children %}
                        <ul>{{ loop(item.children)}}</ul>

                    {% endif %}

                </li>
            </a>

        {% endfor %}



    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>
        function fnGetObjects(){
            var keyword = $('#keyword').val();
            var csrf_token = "{{ csrf_token() }}";

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });


            $('#loading').show();
            $.ajax({

                type : 'POST',
                url : 'api',
                data : {
                    'keyword': keyword
                },
                dataType : 'JSON',

                complete: function () {
                    $('#loading').hide()

                },
                success : function(result){
                    // $('#result').val(JSON.stringify(result, null, '\t'))
                    $('#result').val(result)


                    // alert("result = "+ result);
                },

                error : function(xtr,status,error){
                    alert(xtr +":"+status+":"+error);
                }
            });
        }



    </script>
{% endblock %}