{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}ADD Demo page{% endblock %}

{% block head %}
{{super()}}
<!--<link rel="stylesheet" href="{{url_for('static', filename='/css/json-beauty1.css')}}">-->
<!--<link rel="stylesheet" href="{{url_for('static', filename='/css/json-beauty2.css')}}">-->
{% endblock %}
{% block navbar %}
<div class="navbar navbar-fixed-top">
    <!-- ... -->
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Threat Intelligence - Grouping</h1>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand focus" href="#">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Home_font_awesome.svg/1200px-Home_font_awesome.svg.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <br>
            Home
        </a>
    </nav>


    <br>

    <div id="loading" class="text-center" style="display: none">
        <img src="/static/loading.gif" alt="" class="rounded" style="width: 30%"/>

        <label for="loading" style="display: block; text-align: center;">Now Loading...</label>
    </div>
    <br><br>

    <div>
        <button type="button" class="btn btn-success" style="float: right;" >Next</button>
        <button type="button" class="btn btn-primary" style="float: left;" >Main</button>

    </div>
    <br><br>


    <h2>{{target}}</h2>


    <ul>

        {% for item in tree.children recursive %}

        <li>{{ item.name }}

            {% if item.children %}
            <ul>{{ loop(item.children)}} test</ul>
            {% endif %}</li>

        {% endfor %}

    </ul>

</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>
    function fnGetObjects(){
        var keyword = $('#keyword').val();
        var csrf_token = "{{ csrf_token() }}";

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });


        $('#loading').show();
        $.ajax({

            type : 'POST',
            url : 'api',
            data : {
                'keyword': keyword
            },
            dataType : 'JSON',

            complete: function () {
                $('#loading').hide()

            },
            success : function(result){
                // $('#result').val(JSON.stringify(result, null, '\t'))
                $('#result').val(result)


                // alert("result = "+ result);
            },

            error : function(xtr,status,error){
                alert(xtr +":"+status+":"+error);
            }
        });
    }



</script>
{% endblock %}